<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-1">
      <br/><br/><br/><br/>
      <div class="card">
        <div class="card-body">
          <h3 class="text-center card-title">Password Recovery</h3>
          <p class="text-center form-text"> Enter you email, we will send a password reset link to the email entered</p>
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label>Email address</label>
              <input type="email" class="form-control" formControlName="email"/>
              <div *ngIf="(forgotPasswordFormControl.email.touched || forgotPasswordFormControl.email.dirty) && forgotPasswordFormControl.email.invalid" class="form-text text-danger">
                <div *ngIf="forgotPasswordFormControl.email.errors?.required">
                  email is required.
                </div>
                Invalid Email
              </div>
            </div>
            <button type="submit" class="col-12 btn btn-danger">Send Email</button>
          </form>
          <br/>
          <button routerLink="/signin" class="col-12 btn"> back to login </button>
          <br/><br/>
          <a class="text-center" routerLink="/signup"> i don't have an account signup </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
