<app-navbar></app-navbar>
<div class="row">
  <div class="col-md-2 col-sm-0">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-10 col-sm-12"><br/>
    <div class="text-center">
      <h2> Manage campaigns </h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-6">
        <div class="">
            <button class="btn btn-dark"><i class="fas fa-download"></i> download contact template </button>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">description</th>
              <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaign of campaigns">
              <td>{{campaign.name}}</td>
              <td>{{campaign.description}}</td>
              <td>
                <div class="btn-group">
                  <button class="btn" routerLink="/campaigns/{{campaign.id}}"> view </button>
                  <button class="btn btn-outline-dark" data-mdb-toggle="modal" data-mdb-target="#Modal" (click)="getCampaign(campaign.id)"> Edit </button>
                  <button class="btn btn-danger" (click)="deleteCampaign(campaign.id)"> Delete </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="card">
          <div class="card-body">
            <h3 class="text-center card-title"> Create campaign </h3>
            <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name"/>
                <div *ngIf="(createFormControls.name.touched || createFormControls.name.dirty) && createFormControls.name.invalid" class="form-text text-danger">
                  <div *ngIf="createFormControls.name.errors?.required">
                    Name is required.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label>Description</label>
                <textarea class="form-control" placeholder="enter your description" formControlName="description"></textarea>
              </div>
              <br/>
              <button type="submit" class="col-12 btn btn-danger">Save</button>
              <br><br/>
            </form>
          </div>
        </div><br/><br/>
        <div class="">
          <div>
            <button class="btn btn-outline-dark"><i class="fas fa-upload"></i> upload contacts </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Edit Modal -->
<div
  class="modal fade"
  id="Modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit group</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="updateCampaign()">
          <div class="mb-3">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name"/>
            <div *ngIf="(editFormControls.name.touched || editFormControls.name.dirty) && editFormControls.name.invalid" class="form-text text-danger">
              <div *ngIf="editFormControls.name.errors?.required">
                Name is required.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label>Description</label>
            <textarea class="form-control" placeholder="enter your description" formControlName="description"></textarea>
          </div>
          <br/>
          <button (click)="updateCampaign()" class="col-12 btn btn-danger" data-mdb-dismiss="modal">Save</button>
          <br><br/>
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
