<app-navbar></app-navbar>
<div class="row">
  <div class="col-md-2 col-sm-0">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-10 col-sm-12"><br/>
    <div class="text-center">
      <h2> Transactions </h2>
    </div>
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">reference</th>
              <th scope="col"> No. of recipients </th>
              <th scope="col"> No. of failed </th>
              <th scope="col">message</th>
              <th scope="col">amount</th>
              <th scope="col"> date </th>
              <th scope="col"> timestamp </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>uuuty5645 56456 56456 </td>
              <td>455</td>
              <td>4</td>
              <td>admission adverts </td>
              <td> 45000<small>XFA</small> </td>
              <td> 09-09-2010 </td>
              <td> 07:12 </td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-danger"> download </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
