<div class="sidebar shadow">
  <nav class="nav flex-column">
    <a class="nav-link item" routerLink="/create-sms"> <i class="fas fa-plus item"></i> Compose </a>
    <a class="nav-link item" routerLink="/campaigns"> <i class="fas fa-user-alt item"></i> manage campaigns</a>
    <a class="nav-link item" routerLink="/contacts"> <i class="fas fa-users item"></i>contacts </a>
    <a class="nav-link item" routerLink="/transactions"> <i class="fas fa-exchange-alt item"></i>Transactions</a>
    <a class="nav-link item" routerLink="/tarifs"> <i class="fas fa-cogs item"></i> manage tarifs </a>
  </nav>
</div>
