<app-navbar></app-navbar>
<div class="container">
  <br/><br/><br/>
  <div class="text-center">
    <h1 class="extra">404</h1>
    <br/>
    <h1> Awww... Don't Cry </h1>
    <h3> Sorry page not found </h3>
    <p> The page you are looking for has been moved or doesn't exist </p>
    <br/> <br/>
    <div class="row">
      <div class="col-6">
        <button class="btn btn-primary" routerLink="/"> Home </button>
      </div>
      <div class="col-6">
        <button class="btn btn-danger"> Contact us </button>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
